body{
  background-image: linear-gradient(grey, rgba(255, 0, 0, 0.623), grey);
    color: rgb(255, 255, 255);
    overflow-x: hidden;
    position: relative;
    margin: 0;
    padding: 0;
  }

.product-name{
  font-size: 19px;
  text-decoration: none;
  margin-top: 3px;
  color: black;
}